# Snowflake Credentials
SNOWFLAKE_ACCOUNT="MYORG-MYACCOUNT" # Step "拿账号标识符" 里查到的那个
SNOWFLAKE_USER="YOUR_USERNAME" # 你的 Snowflake 用户名
SNOWFLAKE_AUTHENTICATOR="externalbrowser"

# 默认资源（可选，但建议明确写出来）
SNOWFLAKE_ROLE="LEARN_ROLE" # 没建专用 role 就填 ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE="LEARN_WH"
SNOWFLAKE_DATABASE="LEARN_DB"
SNOWFLAKE_SCHEMA="PLAYGROUND"
